.item {
  position: relative;

  width: 100px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  
}

.name {
  margin: 0;

  font-weight: 600;
  font-size: 20px;
}

.avatar {
  

   border: solid 3px rgba(48, 244, 231, 0.173);
  border-radius: 30%;
  width: 80px;
  height: 80px;
}

.status {
  position: absolute;
  top: 0px;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;

  background-color: rgb(132, 132, 132);
}

.online {
  background-color: rgb(4, 230, 4);
}

.offline {
  background-color: rgb(255, 9, 9);
}
