.friend-list {
  margin: 50px auto;

  display: flex;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  max-width: 600px;
  flex-direction: column;
    align-items: center;

  font-family: 'Inconsolata';

  list-style-type: none;
  padding: 0;
}
